body
{
	/* Set background gradient light to darker gray, top to bottom with crossbrowser BS */
	background: linear-gradient(to bottom, #efefef, #cdcdcd) fixed;		/* All modern browsers*/
	background: -webkit-linear-gradient(top, #efefef, #cdcdcd) fixed;	/* -webkit preferred by modern Opera, older Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
	background: -moz-linear-gradient(to bottom, #efefef, #cdcdcd);		/* -moz older Firefox 3.6 - 15 */
	background: -o-linear-gradient(to bottom, #efefef, #cdcdcd);			/* -o older Opera 11.1 - 12 */
	background-attachment: fixed;
	background-color: #cdcdcd;
	background-repeat: no-repeat;
	background-size: 100%;
	color: #333;																											/* font color */
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
	/*margin: auto;*/ 																								/* miss me? - disabled 9/26/18 testing */
	/*min-height: initial;*/ 																					/* miss me? - disabled 9/26/18 testing */
}

/* div id root is top level wrapper within body */
#root {

}

/* div className app is top level wrapper within BrowserRouter */
.app {

}

.navbar {
  margin-bottom: 0px; /* Overwrites navbar style from unknown location */
	border-radius: 0 !important; /* Get rid of rounded corners on navbar */
}

/* Mitigates form-group overlapping container and panel-body - I don't know why */
.container { width: 100%;}

.page {
  background-color: #fbfbfb;  /* Color name 'snow' */
  max-width: 1080px;
	border-left: 1px solid #eeeeee; /*Color name 'whisper' */
	border-right: 1px solid #eeeeee;
	box-shadow: 0px 2px 1px #eeeeee inset, 0px -2px 8px #999999, -10px 0px 25px rgba(105, 105, 105, 0.1), 10px 0px 25px rgba(105, 105, 105, 0.1);
	-webkit-box-shadow: 0px 2px 1px #eeeeee inset, 0px -2px 8px #999999, -10px 0px 25px rgba(105, 105, 105, 0.1), 10px 0px 25px rgba(105, 105, 105, 0.1);
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 60px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	margin:auto; /* Center page */
}

/* Small devices (tablets, 768px and up) @screen-sm-min */
@media (min-width: 768px) {
  .page{

    }
}

/* Medium devices (desktops, 992px and up) @screen-md-min */
@media (min-width: 992px ) {
  .page{
    }
}

/* Large devices (large desktops, 1200px and up) @screen-lg-min  */
@media (min-width: 1200px ) {
.page{

	}
}

.panel-heading, .panel-title {
	font-size: 18px;
}

.panel-heading {
  margin-bottom: 20px;
}

.panel-body {
    padding: 0px 0px 0px 0px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.form-group, .info-group {
  border: 1px dashed #ccc;
  border-radius: 4px;
  padding: 5px 10px 10px 10px;
	min-height: 86px; /* Failover for when form-control margin not invoked to veritcally size small form-groups with no form-control - Ex. Assessment Date Today */
}

.info-group {
	border-style: solid; /* Override dashed border style */
	margin-bottom: 15px; /* Mimic BS form-control bottom margin */
}

.form-group-clear-style {
  border: initial;
  border-radius: initial;
  padding: initial;
	background: transparent !important; /* Override AliceBlue bg on form-group input - Ex login submit */
}

.form-control, .info-content {
	font-size: 16px;
	margin: 3px !important; /* Add below spacing, vertically expands the parent form-group */
}

label {
    text-align: left;
    font-weight: initial;
    padding-left: 3px;
    padding-right: 10px;
    width: 100%;
    font-size: 90%;
    margin-bottom: 2px;
}

label.btn {
		width: initial; /* Override label with for btn class */
}

/* Make form-group-like content in response like text inputs */
div.info-group .info-content {
		background-color: #f9f9f9; /* Match BS class table-striped */
		text-align: right; 				 /* questions to the left, responses to the right */
		/* Match text input style */
		height: 34px;
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
}

/* React Button classes html button as btn btn-default which overule our class unless !important */
/* Included anchor tags with class btn btn-default */
input[type=submit], input[type=button], button,
a.btn, a.btn-default, a.btn-sm {
    min-height: initial;
    min-width: initial;
    width: initial;
    height: initial;

    border: 1px solid #ccc !important;
    margin: auto !important;
    cursor: pointer !important;
    background: #eeeeee !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
}

input[type=submit], input[type=button], button,
a.btn, a.btn-default {
		padding: 10px 15px !important; /*Override BS classes btn btn-default */
		font-size: 16px !important;
}

/* Aligns Next button with in-Panel content */
/* Remove if left aligned Next button retired in favor of centered */
/* TODO: Make more specific to not cause problems */
button {
	margin-left: 15px !important;
}

button.btn-sm, a.btn-sm {
	height: 28px;
	color: rgb(51,51,51);
	font-size: 12px !important;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover,
a.btn:hover, a.btn-default:hover, a.btn-sm:hover  {
	border-color: #bbbbbb !important;
  box-shadow: 2px 2px 4px rgba(105, 105, 105, 0.1);
	text-decoration: none; /* Supress A link underlines */
}

input[type=submit]:focus,
input[type=button]:focus,
button:focus,
a.btn:focus, a.btn-default:focus, a.btn-sm:focus {
    border-color: #bbbbbb !important; /* Override BS classes btn, btn-deafult */
    background: aliceblue !important;
    box-shadow: 2px 2px 4px rgba(105, 105, 105, 0.1);
		text-decoration: none; /* Supress A link underlines */
}

input[type=submit]:disabled,
input[type=button]:disabled,
button:disabled,
 a.btn:disabled, a.btn-default:disabled, a.btn-sm:disabled{
	border: 1px solid #999999 !important;
	background-color: #cccccc !important;
	color: #666666 !important;
}

div.col-button {
		padding: 5px 10px 0px 10px; /* 0px bottom for search button to reduce height of panel, breakout if problematic for other buttons */
}

div.col-button button,
a.btn, a.btn-default {
	margin:30px 10px !important; /* Override BS classes btn, btn-deafult */
}

.panel-footer {
    padding: initial;
    margin-top: 50px;
    margin-bottom: 0px;
    background-color: #FCFCFC;
    border-style: solid;
}

/* A Panel alignment issue occurs because some Panels are unnecessarily contained in a Grid / div.container */
/* Better to remove the div or the container class from the div than the negative margins BS below */
/* This should be removed afterward */
/* Panel for Welcome (New Record, Search buttons) has no identifier to target - still inconsistent on alignment */
div.container div.panel-footer,
div.container form.login div.panel {
	margin-left: -15px;
	margin-right: -15px;
}

/* Footer stuff */
.footer-image {
  height: 70px;
}

.logo {
    margin: 10px 0 10px 0;
    text-align: center;
}

.img-sosw-left {
    width: 184px;
    height: 70px;
    filter: opacity(90%);
    filter: grayscale(20%);
}

.credits {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 16px;
    color: gray;
    padding-top: 0px;
    text-align: center;
}

/* Dagger name and version in footer */
.credits div:first-child {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}

.img-grhop-right {
    width: 69px;
    height: 70px;
    filter: opacity(90%);
    filter: grayscale(20%);
}

/* Allow footer logo images to center in col on mobile, float to outside otherwise */
@media (min-width: 768px) {
	.img-sosw-left {
	    float: left;
	}

	.img-grhop-right {
	    float: right;
	}
}

/* Grid Stuff */
@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Select a Clinic table in modal */
/* TODO: Better targeting of this table, may need other tables in modals with different style */
div.modal-body table tbody td {
	vertical-align: middle;
}

div.modal-header {
	padding: 10px; 			/* reduce default vertical spacing of modal-header */
}
div.modal-header h4.modal-title {
	padding-left: 8px;	/* Bring into alignment with radio buttons */
	padding-top:  8px;  /* Bring into alignment with close button */
}

div.modal-body {
	padding-top: 0;			/* reduce default vertical spacing at top,bottom of modal */
	padding-bottom: 0;
}

div.modal-body table tbody td div.radio {
	margin: 0;
}

/* SEARCH RESULTS TABLE (plus Clinic Selection table header in modal)*/
/* Header for search results table and tables in modal (currently only Select a Clinic) */
table.table-search-results thead th,
div.modal-body table thead th {
	padding:10px !important;
	font-weight: normal;
	vertical-align: middle !important;
}

/* Search results table not wrapped in Panel, set bg white like .page */
table.table-search-results {
	background-color: white;
}

div.search-results-count {
	font-size: 16px;
	padding: 10px;
}

table.table-search-results thead tr th:not(:last-child),
table.table-search-results tbody tr td {
	text-align: right;
}

table.table-search-results thead tr th:last-child {
	text-align: center;
}

table.table-search-results tbody tr td:last-child {
	text-transform: uppercase;
	padding-right: 20px; /* table has no panel, last td content vertically alined with search options in panel above */
	font-size: 80%; /* Accomodate many assessments in table col without wrapping other cols */
}

/* ASSESSMENT AND RESPONSE RECORD TABLES */
/* Header for tables containing assessments, response records */
table.table-assessment thead th,
table.table-response thead th,
table.table-scoring thead th {
	padding:10px !important;
	font-weight: normal;
	text-align: center;
	vertical-align: middle !important;
}

div.loading-message {
	width: 100%;
	text-align: center;
	margin-bottom:20px;
}

table.table-response tbody tr td:last-child,
table.table-scoring tbody tr td:last-child {
	text-align: center;
}

table.table-response tbody tr td:last-child::first-letter {
	text-transform: uppercase;
}

/* Set special padding for 1st td in table - targeting question cell of tabled assessments */
/* May need more specific targeting to ensure formatting to the Question td */
/* Currently only radioScale and checkboxScale assessment tables are classed table-assessment */
table.table-assessment tbody tr td:first-child {
	padding: 15px 10px 5px 10px !important; /* Overrides BS padding for table-condensed>tbody>tr>td */
}

/* Hack for improved auto sizing of td on tabled radio scale options */
table.table-assessment tbody tr td:not(:first-child) {
	width:1%;
	padding: 0 !important;
}
table.table-scoring tbody tr td:last-child {
	width:1%;
}

/* Target only tabled checkboxes in assessments or the assessment selection gets jacked */
table.table-assessment tbody tr td div.checkbox label input{
	margin-left: 16px !important;
	margin-right: 16px !important;
}

/* For checkboxes without labels to take up space in the table cell */
table.table-assessment tbody tr td div.checkbox {
	min-width: 90px;
}

/* Label style for radio scale options within assessment tables, places label below */
table.table-assessment tbody tr td div.radio label {
  vertical-align: middle;
  text-align: center;
	font-size: 75%;
	color: gray;
	padding-top: 28px;
	padding-right: 20px;  /* overrides this CSS label style */
	padding-left: 17px;   /* fine tune centering of label - overrides CSS label style */
	min-width: 90px; 			/* TODO: Reset div.radio label min-width to intial for lower resolutions */
}

/* ALL radios and checkboxes wrapped in a label */
label input[type="radio"], label input[type="checkbox"] {
	height: 18px;
	width: 18px;
	cursor: pointer;
	margin-left: -25px !important; /* override BS default - extra space between text label & input */
}

/* Just radios in an assessment table */
table.table-assessment tbody tr td div.radio label input {
  top: 5px;
	left: 66% !important; /* Centers radio button in table cell -- TODO: Find better way. */
}

/* HR is a sizable element to adjust spacing between radio and label content below */
table.table-assessment tbody tr td div.radio label hr {
 margin-top: 2px;
 margin-bottom: 2px;
 border: 0;
}

/* Spacing for checkbox and label containers for assessment selection */
div.container-assessment-selection {
	padding-left: 25px !important;
	padding-bottom: 25px;
}

/* Set background-color to AliceBlue */
/* Applies to standard form-group and table-assessment TDs containing radio or checkbox */
div.form-group:focus-within,
table.table-assessment tbody tr td:not(:first-child):focus-within {
	background: aliceblue;
	-moz-transition: 		background .2s ease-in;
	-o-transition: 			background .2s ease-in;
	-webkit-transition:		background .2s ease-in;
}

/* Set Top and Bottom ONLY box shadow to imitate TR box shadow on focused (but not hovered) TDs while TR is hovered */
table.table-assessment tbody tr:hover td:not(:first-child):focus-within:not(:hover) {
	-moz-box-shadow:
		inset 0 11px 40px -11px rgba(240, 248, 255, 0.8),
		inset 0 -11px 40px  -11px rgba(240, 248, 255, 0.8),
		inset 0 8px 3px -9px rgba(0, 0, 0, 0.6),
		inset 0 -9px 3px -9px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow:
		inset 0 11px 40px -11px rgba(240, 248, 255, 0.8),
		inset 0 -11px 40px  -11px rgba(240, 248, 255, 0.8),
		inset 0 8px 3px -9px rgba(0, 0, 0, 0.6),
		inset 0 -9px 3px -9px rgba(0, 0, 0, 0.6);
	box-shadow:
		inset 0 11px 40px -11px rgba(240, 248, 255, 0.8),
		inset 0 -11px 40px  -11px rgba(240, 248, 255, 0.8),
		inset 0 8px 3px -9px rgba(0, 0, 0, 0.6),
		inset 0 -9px 3px -9px rgba(0, 0, 0, 0.6);
}

/* Losing focus - abandon AliceBlue*/
div.form-group:not(:focus-within),
table.table-assessment tbody tr td:not(:first-child):not(:focus-within)  {
	background: transparent;
	-moz-transition: 		background .5s ease-out;
	-o-transition: 			background .5s ease-out;
	-webkit-transition: 	background .5s ease-out;
}

/* Make table row hover more subtle and pleasing */
/* Layered inset box shadow onHover of .table-assessment TR and assessment option T */
.table-hover>tbody>tr:hover,
table.table-assessment tbody tr td:not(:first-child):hover {
		-moz-box-shadow: inset 0 0 40px rgba(240, 248, 255, 0.8), inset 0 0 3px rgba(0, 0, 0, 0.6); /* colors: aliceblue, black */
		-webkit-box-shadow: inset 0 0 40px rgba(240, 248, 255, 0.8), inset 0 0 3px rgba(0, 0, 0, 0.6);
		box-shadow: inset 0 0 40px rgba(240, 248, 255, 0.8), inset 0 0 3px rgba(0, 0, 0, 0.6);
}

/* BS hover background color change undesirable on stripped table rows */
.table-hover>tbody>tr:nth-of-type(odd) {
		background-color: #f9f9f9; /* Override BS default hover in favor of stripped table bg */
}

.table-hover>tbody>tr:nth-of-type(even) {
		background-color: transparent; /* Override BS default hover in favor of stripped table bg */
}


/* Align Cols for FormGroups as if in properly formatted Rows */
/* Assumes Containing 3 sm-col-4, targeted to container divs for assessments */
/* Tags: Magic Potion, Bullshit, Need Real Rows */
@media (min-width: 768px) {
	div.container-assessment .col-sm-4 {
	box-sizing: border-box;
	width: 33%;
	display: inline-block;
	}

	/* Col 1 and Cols 4, 7, 10, 13... */
	/* Margin numbers derived from ancient runes */
	div.container-assessment .col-sm-4:nth-child(1),
	div.container-assessment .col-sm-4:nth-child(3n+4){
		margin-left: .5rem;
	}

	/* Cols 3, 6, 9...*/
	div.container-assessment .col-sm-4:nth-child(3n) {
		margin-right: .2rem;
	}

}

/* Advanced Search styling */
div.simple-search-wrapper {
	display: inline-block;
	width: 100%;
}

div.panel-unadorned {
	border: 0;
	box-shadow: initial;
	-webkit-box-shadow: initial;
}

div.panel-unadorned>.panel-heading {
	background-color: inherit;
	border: 0;
	padding: 0 30px;
}

div.panel-unadorned>.panel-heading>.panel-title {
	font-size: 14.4px; /* Bad measurements - equivalent of 90% of 16px (or is it 18px?) - to match label TODO: help me */
}

/* Custom layout for response search options */
@media (min-width: 768px) {
	div.container-response-search-options .col-sm-4 {
	box-sizing: border-box;
	width: 33%;
	display: inline-block;
	}

	/* Col 2, 5 starting from hidden advanced search options - Visit End Date, Date Submitted End- create break*/
	div.container-response-search-options .col-sm-4:nth-child(2),
	div.container-response-search-options .col-sm-4:nth-child(4) {
		margin-right: 16.5rem;
	}

}
