body
{
	/* Set background gradient light to darker gray, top to bottom with crossbrowser BS */
	background: linear-gradient(to bottom, #efefef, #cdcdcd) fixed;		/* All modern browsers*/
	background: -webkit-linear-gradient(top, #efefef, #cdcdcd) fixed;	/* -webkit preferred by modern Opera, older Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
	background: -moz-linear-gradient(to bottom, #efefef, #cdcdcd);		/* -moz older Firefox 3.6 - 15 */
	background: -o-linear-gradient(to bottom, #efefef, #cdcdcd);			/* -o older Opera 11.1 - 12 */
	background-attachment: fixed;
	background-color: #cdcdcd;
	background-repeat: no-repeat;
	background-size: 100%;
	color: #333;																											/* font color */
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
	/*margin: auto;*/ 																								/* miss me? - disabled 9/26/18 testing */
	/*min-height: initial;*/ 																					/* miss me? - disabled 9/26/18 testing */
}

/* div id root is top level wrapper within body */
#root {

}

/* div className app is top level wrapper within BrowserRouter */
.app {

}

.navbar {
  margin-bottom: 0px; /* Overwrites navbar style from unknown location */
}

/* Mitigates form-group overlapping container and panel-body - I don't know why */
.container { width: 100%;}

.page {
  background-color: #fbfbfb;  /* Color name 'snow' */
  max-width: 1080px;
	border-left: 1px solid #eeeeee; /*Color name 'whisper' */
	border-right: 1px solid #eeeeee;
	box-shadow: 0px 2px 1px #eeeeee inset, 0px -2px 8px #999999, -10px 0px 25px rgba(105, 105, 105, 0.1), 10px 0px 25px rgba(105, 105, 105, 0.1);
	-webkit-box-shadow: 0px 2px 1px #eeeeee inset, 0px -2px 8px #999999, -10px 0px 25px rgba(105, 105, 105, 0.1), 10px 0px 25px rgba(105, 105, 105, 0.1);
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 60px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	margin:auto; /* Center page */
}

/* Small devices (tablets, 768px and up) @screen-sm-min */
@media (min-width: 768px) {
  .page{

    }
}

/* Medium devices (desktops, 992px and up) @screen-md-min */
@media (min-width: 992px ) {
  .page{
    }
}

/* Large devices (large desktops, 1200px and up) @screen-lg-min  */
@media (min-width: 1200px ) {
.page{

	}
}



.panel-heading {
  margin-bottom: 20px;
  font-size: 18px;
}

.panel-body {
    padding: 0px 0px 0px 0px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.form-group {
  border: 1px dashed #ccc;
  border-radius: 4px;
  padding: 5px 10px 10px 10px;
}

.form-group-clear-style {
  border: initial;
  border-radius: initial;
  padding: initial;
}

label {
    text-align: left;
    font-weight: initial;
    padding-left: 3px;
    padding-right: 10px;
    width: 100%;
    font-size: 90%;
    margin-bottom: 2px;
}

label.btn {
		width: initial; /* Override label with for btn class */
}

input[type=submit], input[type=button], button {
    min-height: initial;
    min-width: initial;
    width: initial;
    height: initial;
    padding: 10px 15px;
    border: 1px solid #ccc;
    margin: auto;
    cursor: pointer;
    background: #eeeeee;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover {
	border-color: #bbbbbb;
    box-shadow: 2px 2px 4px rgba(105, 105, 105, 0.1);
}

input[type=submit]:focus,
input[type=button]:focus,
button:focus {
    border-color: #bbbbbb;
    background: aliceblue;
    box-shadow: 2px 2px 4px rgba(105, 105, 105, 0.1);
}

input[type=submit]:disabled,
input[type=button]:disabled,
button:disabled {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

.panel-footer {
    padding: initial;
    margin-top: 50px;
    margin-bottom: 0px;
    background-color: #FCFCFC;
    border-style: solid;
}

/* Footer stuff */
.footer-image {
  height: 70px;
}

.logo {
    margin-top: 10px;
    text-align: center;
}

.img-sosw-left {
    width: 184px;
    height: 70px;
    filter: opacity(90%);
    filter: grayscale(20%);
}

.credits {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 16px;
    color: gray;
    padding-top: 0px;
    text-align: center;
}

.img-grhop-right {
    width: 69px;
    height: 70px;
    filter: opacity(90%);
    filter: grayscale(20%);
}

/* TODO: Work this out */
/*@media (min-width: 1200px) {
  .img-grhop-right {
      float: right;
  }
}*/

@media (min-width: 992px)
.img-grhop-right {
    float: right;
}

@media (min-width: 768px)
.img-grhop-right {
    float: right;
}

/* FocusableInput */
.form-group.focused {
	background: aliceblue;
	border-color: #c0c0c0;
	-moz-transition: background .2s ease-in;
	-o-transition: background .2s ease-in;
	-webkit-transition: background .2s ease-in;
}

.form-group.blurred {
	background: transparent;
	-moz-transition: background .2s ease-in;
	-o-transition: background .2s ease-in;
	-webkit-transition: background .2s ease-in;
}

/* Grid Stuff */
@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}

th {
	padding:10px !important;
	font-weight: normal;
	text-align: center;
	vertical-align: middle !important;
}

/* Set special padding for 1st td in table - targeting question cell of tabled assessments */
/* Currently affects first td of ALL tables, may need to be better targeted */
td:first-child {
	padding: 15px 10px 5px 10px !important; /* Overrides BS padding for table-condensed>tbody>tr>td */
	font-size: 90%;
}

/* Hack for improved auto sizing on tabled radio scale options */
td:not(:first-child){
    width:1%;
    white-space: pre-wrap; /* nowrap will allow cells space for labels on one line - consider for some assessments (add flag?) */
}

/* Label style for radio scale options within tables */
td div.radio {
  position: relative;
  display: inline-block;
}

td div.radio::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
}

td div.radio label:not(div.radio){
  display: block;
}

td div.radio label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
	font-size: 75%;
	color: gray;
	padding-top: 30px;
	padding-right: 20px;  /* overrides this CSS label style */

	/* This works well as a min-width with longer text labels, */
	/* but less desirable on those with short text or number for day scales like Diabetes Self-Care, */
	/* and causes overlapping of container / panel at lower resolutions */
	/* TODO: Reset div.radio label min-width to intial for lower resolutions */
	/* TODO: Resolve short text labels issue */
	min-width: 90px;
}

 td div.radio input {
  position: absolute;
  top: 5px;
	left: 40% !important; /* Some hacky ass shit going on right here */
  display: block;
	transform: scale(1.35);
  cursor: pointer;
	margin-left: 0px !important;
}
